<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    DocumentRoot {{ www_path }}

    <Directory "{{ www_path }}">
            Options FollowSymLinks Indexes
            AllowOverride All
    </Directory>
</VirtualHost>
